.HeaderCell {
    padding: 24px;
}

.HeaderCell:hover {
  background-color:#58533d;
}

.HeaderRow {
  padding: 16px;
  border: 1px solid #e6e3e4;
  background-color:#494430;
  width: 200px;  
  color: white;
}